ul#players {
  column-count: 3;
}
table#leaderboard {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.thead-dark {
  color: #fff;
  background-color: #212529;
  border-color: #32383e
}

.jumbotron {
  background-color: #fff;
}

@media (min-width: 1024px) {
  body {
    font-size: 35px;
  }
}