{% extends "appbuilder/baselayout.html" %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}"></link>
{% endblock %}




{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-6">
                <h1>Right now: {{ current_round_time }} </h1>
                <table id="next_round" class="table table-striped table-large">
                    <thead class="thead-dark">
                        <tr id="xx">
                            <th id="xx">Board #</th>
                            <th id="xx">Players</th>
                        </tr>
                    </thead>
                    {% for key in current_round_dict.keys(): %}
                    <tr id="xx">
                        <td id="xx">{{ key }}</td>
                        <td id="xx">{{ current_round_dict[key] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% if current_round < 8: %}
                <h1>Next Round: {{ next_round_time }} </h1>
                <table id="next_round" class="table table-striped table-large">
                    <thead class="thead-dark">
                        <tr id="xx">
                            <th id="xx">Board #</th>
                            <th id="xx">Players</th>
                        </tr>
                    </thead>
                    {% for key in next_round_dict.keys(): %}
                    <tr id="xx">
                        <td id="xx">{{ key }}</td>
                        <td id="xx">{{ next_round_dict[key] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <div class="col col-lg-6">
                <h1>Leaderboard</h1>
                <table id="leaderboard" class="table table-striped table-large">
                    <thead class="thead-dark">
                        <tr id="xx">
                            <th id="xx">Name</th>
                            <th id="xx">Rounds</th>
                            <th id="xx">Points</th>
                            <th id="xx">Weighted</th>
                        </tr>
                    </thead>
                    {% for slot in slot_list: %}
                    <tr id="xx">
                        <td id="xx">{{ slot.get_player().get_name() }}</td>
                        <td id="xx">{{ slot.get_rounds_completed() }}</td>
                        <td id="xx">{{ slot.get_raw_points() }}</td>
                        <td id="xx">{{ slot.get_weighted_score() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}